apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "demo-crm.fullname" . }}
  labels:
    {{- include "demo-crm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "demo-crm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "demo-crm.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{ include "demo-crm.fullname" . }}-conf
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mongodbUriSecret.name }}
                  key: {{ .Values.mongodbUriSecret.key }}
